[user]
	name = Dave Kleinschmidt
	email = dave.f.kleinschmidt@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = emacs
[push]
	default = matching

[url "git@github.com:"]
	insteadof = "https://github.com/"
[github]
	user = kleinschmidt
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[alias]
	graph = log --oneline --decorate --graph
