[user]
	name = Dave Kleinschmidt
	email = dave.f.kleinschmidt@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = emacs
[push]
	default = matching

[github]
	user = kleinschmidt
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[alias]
	graph = log --oneline --decorate --graph
[credential "https://github.com"]
	helper = !/usr/bin/env gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/env gh auth git-credential
